# Python-related
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pyo
*.pyd
*.db

# Virtual environment
venv/
env/
.venv/
.env/

# Django migrations
*/migrations/*.py
*/migrations/*.pyc

# Static files
/static/
media/

# React-related
node_modules/
build/
dist/

# IDE or Editor specific files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Other files
*.env  # Ignore .env file for security
